body {
	background-color: rgb(113, 69, 94)

}
h1 {
	color: rgb(231, 222, 222);
	font-family: 'Patua One', cursive;

}
#game {
	margin-left: 20px;
	width: calc(100% - 40px);
}
canvas{
	width: 100%;
	height: 100%;
}
